
.carousel-inner > .item > img{
    
    margin: auto;
    width: auto;

    }

.carousel {
        max-height: 600px;
        overflow: hidden;
        background-color: grey !important;

      }

body{
    background-color: #4b4b4b;
    color: white;
    font-family: 'Montserrat', sans-serif;
}


footer{
    padding:10px;
    background-color: #373737;
    color: white;

}
.fa{
    padding: 0px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    text-shadow: 5px 8px 15px #000000;
    color: #ffbf00;
}
.fa:hover{
opacity: 0.7;
}
.logofooter{
    width:100px;
    height: 75px;
}
hr.hrleft{
 border:0;
 height: 1px;
 background-image: linear-gradient(to right,#ffbf00,transparent);
}
hr.hrright{
    border:0;
    height: 1px;
    background-image: linear-gradient(to left,#ffbf00,transparent);
   }
hr.footer{
    width: 25%;
    border:0;
 height: 1px;
 background-image: linear-gradient(to right,#373737,#ffbf00,#373737); 
}

p.name{
    font-size: 24px;
    color: white;

}

.navbar {
    background: #373737;
    font-family: 'Montserrat', sans-serif;
    Font-size: 20px;
    Font-weight: bold;
}

.nav-link {
    color: #ffbf00 !important;
    margin: 5px;
}

.navbar-brand {
    min-width: 220px;
    width: 220px;
    height: 56px;
    position: relative;
    transform: none;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand img {
    width: 220px;
    position: absolute;
    margin-top: -45px;
}

a.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}


.col-md-6{
    padding: 2em;
    font-size: 20px;
}

.col-md-4{
    padding: 2em;
}
h1{
    font-weight: bold;
}

/* always in the end of css */
@media (max-width: 990px) {
    .navbar-brand {
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        left: 50%;
    }

    .navbar-brand img {
        width: 200px;
        margin-top: -50px;
    }
}