
.carousel-inner > .item > img{
    
    margin: auto;
    width: auto;

    }

.carousel {
        max-height: 600px;
        overflow: hidden;
        background-color: grey !important;

      }


/* Footer and Social Media Style*/
/*.footer{
    background-color: #696969;
   position: fixed;
   padding: 0;
   height: 50px;
  
 margin:auto;
}
#test2 p{
    background-color: #696969;
    background-clip: initial;
    font: arial;
    color: white;
    text-align: center;
    
}
#social {
    background-color: #696969;
    background-clip: initial;
    font-size: 2em;
    text-align: center;
}*/
body{
    background-color: #4b4b4b;
    color: white;
    font-family: 'Montserrat', sans-serif;
}


footer{
    padding:10px;
    background-color: #373737;
    color: white;

}
.fa{
    padding: 0px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
}
.fa:hover{
opacity: 0.7;
}

.fa-facebook{

    color: white;
}

.fa-instagram{
    color: white;
}

.navbar {
  background: #373737;
  font-family: 'Montserrat', sans-serif;
  Font-size: 18px;
  Font-weight: bold;
}
.navbar-logo>img{
  width: 220px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -80%;
}

.col-md-6{
    padding: 2em;
    font-size: 20px;
}

.col-md-4{
    padding: 2em;
}
h1{
    font-weight: bold;
}