
.carousel-inner > .item > img{
    
    margin: auto;
    width: auto;

    }

.carousel {
        max-height: 600px;
        overflow: hidden;
        background-color: grey !important;

      }

body{
    background-color: #4b4b4b;
    color: white;
    font-family: 'Montserrat', sans-serif;
}


footer{
    padding:10px;
    background-color: #373737;
    color: white;

}
.fa{
    padding: 0px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    text-shadow: 5px 8px 15px #000000;
    color: white;
}
.fa:hover{
opacity: 0.7;
}

hr{
  background-color:  #ffbf00 ;
}
p.name{
    font-size: 24px;

}

.navbar {
  background: #373737;
  font-family: 'Montserrat', sans-serif;
  Font-size: 20px;
  Font-weight: bold;
}

.nav.navbar-nav>li>a {
    color: #ffbf00 !important;
}

.navbar-brand>img{
  width: 220px;
  position: absolute;
  transform: translateX(-50%);
  left: 49%;
  bottom: -80%;
}
.nav-link{
    margin: 5px;
}

.col-md-6{
    padding: 2em;
    font-size: 20px;
}

.col-md-4{
    padding: 2em;
}
h1{
    font-weight: bold;
}